# -*- coding: utf-8 -*-
{% extends "/layout.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table/bootstrap-table.css') }}">
{% endblock %}

{% block title %}树莓派传感器列表{% endblock %}

{% block breadcrumb_nav %}
    <li><a href="{{ url_for('sensors') }}">树莓派传感器列表</a></li>
{% endblock %}

{% block content_area %}
    <div>
        <table id="sensorTable"></table>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static',filename='bootstrap-table/bootstrap-table.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/sensors.js')}}"></script>
{% endblock %}
